<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="yk_app_final.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <yk_app_final.Properties.Settings>
      <setting name="button1Text" serializeAs="String">
        <value>1.Tuş</value>
      </setting>
      <setting name="button2Text" serializeAs="String">
        <value>2.Tuş</value>
      </setting>
      <setting name="button3Text" serializeAs="String">
        <value>3.Tuş</value>
      </setting>
      <setting name="button4Text" serializeAs="String">
        <value>4.Tuş</value>
      </setting>
      <setting name="button5Text" serializeAs="String">
        <value>5.Tuş</value>
      </setting>
      <setting name="button6Text" serializeAs="String">
        <value>6.Tuş</value>
      </setting>
      <setting name="button7Text" serializeAs="String">
        <value>7.Tuş</value>
      </setting>
      <setting name="button8Text" serializeAs="String">
        <value>8.Tuş</value>
      </setting>
      <setting name="button9Text" serializeAs="String">
        <value>9.Tuş</value>
      </setting>
      <setting name="button10Text" serializeAs="String">
        <value>10.Tuş</value>
      </setting>
      <setting name="button11Text" serializeAs="String">
        <value>11.Tuş</value>
      </setting>
      <setting name="button12Text" serializeAs="String">
        <value>12.Tuş</value>
      </setting>
    </yk_app_final.Properties.Settings>
  </userSettings>
</configuration>